<div class="body">
<div class="login-container">
    <h2>Registration Form</h2>
    <form action="#" method="post" id="registerForm">
        <div class="input-group">
            <input type="text" id="username" name="username" placeholder="Username">
        </div>
        <div class="input-group">
            <input type="email" id="email" name="email" placeholder="Email">
        </div>
        <div class="input-group">
            <input type="password" id="password" name="password" placeholder="Password">
        </div>
        <div class="input-group">
          <input type="password" id="confirm_password" name="password" placeholder="Confirm Password">
      </div>
        <button type="submit" id="register" routerLink="/login">Register</button>
    </form>
    <div class="extra-options">
      <span>Already have an account? </span>   
      <button routerLink="/login">Login</button>
    </div>
</div>
</div>
