<div class="body">
<div class="login-container">
    <h2>Registration Form</h2>
    <form action="#" method="post" #registerForm>
        <div class="input-group">
            <input type="text" ngModel name="username" placeholder="Username">
        </div>
        <div class="input-group">
            <input type="email" ngModel name="email" placeholder="Email">
        </div>
        <div class="input-group">
            <input type="password" ngModel name="password" placeholder="Password">
        </div>
        <div class="input-group">
          <input type="password" ngModel name="password" placeholder="Confirm Password">
      </div>
        <button type="submit"  routerLink="/login">Register</button>
    </form>
    <div class="extra-options">
      <span>Already have an account? </span>   
      <button routerLink="/login">Login</button>
    </div>
</div>
</div>
